{% extends "main.njk" %}

{% block head %}
  {% set title = 'About' %}
{% endblock head %}

{% block content %}

<section class="section-base">
  <div class="container">
    <div class="section-base__wrap">
      <div class="section-base__content">
        <h1 class="section-base__title">About page</h1>
        <p class="section-base__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rerum
          iure, laborum minus, ab labore sint, asperiores quia voluptatum alias
          deserunt sunt libero quam officia ipsam inventore fuga soluta commodi.
        </p>
        <button class="btn btn-dark section-base__btn">Main button</button>
      </div>

      <div class="section-base__image">
        <div class="section-base__img"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}