// Breakpoint
$small:       359px;
$mobile:      575px;
$mobile-big:  767px;
$tablet-sm:   991px;
$tablet:      1199px;
$laptop:      1399px;
$desktop:     1599px;

// Breakpoint Helpers
$hamb: $tablet;