extends ../layout/empty

block content
  main.kit
    .container
      h1.title-h1.kit__title Kit

      h2.title-h2.kit__subtitle Titles
      .kit__titles
        h1.title-h1 title-h1. Bootstrap heading
        h2.title-h2 title-h2. Bootstrap heading
        h3.title-h3 title-h3. Bootstrap heading
        h4.title-h4 title-h4. Bootstrap heading
        h5.title-h5 title-h5. Bootstrap heading
        h6.title-h6 title-h6. Bootstrap heading

      h2.title-h2.kit__subtitle Buttons
      p.text-main.kit__text Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.

      .kit__btns
        button.btn.btn-custom Custom
        button.btn.btn-primary Primary
        button.btn.btn-secondary Secondary
        button.btn.btn-success Success
        button.btn.btn-danger Danger
        button.btn.btn-warning Warning
        button.btn.btn-info Info
        button.btn.btn-light Light
        button.btn.btn-dark Dark

      h2.title-h2.kit__subtitle Outline buttons
      p.text-main.kit__text Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.
      .kit__btns
        button.btn.btn-outline-custom Custom
        button.btn.btn-outline-primary Primary
        button.btn.btn-outline-secondary Secondary
        button.btn.btn-outline-success Success
        button.btn.btn-outline-danger Danger
        button.btn.btn-outline-warning Warning
        button.btn.btn-outline-info Info
        button.btn.btn-outline-light Light

      h2.title-h2.kit__subtitle Sizes
      .kit__btns
        button.btn.btn-primary.btn-lg Large button
        button.btn.btn-secondary.btn-lg Large button
      .kit__btns
        button.btn.btn-primary.btn-sm Large button
        button.btn.btn-secondary.btn-sm Large button

      h2.title-h2.kit__subtitle Disabled state
      .kit__btns
        button(disabled).btn.btn-primary Large button
        button(disabled).btn.btn-outline-primary Large button
        button(disabled).btn.btn-secondary Large button
        button(disabled).btn.btn-outline-secondary Large button

      h2.title-h2.kit__subtitle Forms
      .kit__inputs
        input(type="text").input

      h2.title-h2.kit__subtitle Checkbox
      .kit__inputs
        label.form-check
          input(type="checkbox")
          p Default checkbox 
        label.form-check
          input(type="checkbox")
          p Default checkbox

      h2.title-h2.kit__subtitle Radio
      .kit__inputs
        label.form-check
          input(type="radio", name="radio")
          p Default radio
        label.form-check
          input(type="radio", name="radio")
          p Default radio