*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

select {
  border: none;
  font-family: inherit;
}

:where(input) {
  font-family: inherit;
  border: none;
}

textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

iframe {
  width: 100%;
}