input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #405057;
  border-radius: 50%;

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 4px rgba(#0d6efd, .25);
  }

  &::checked {
    background-color: #0d6efd;
    border-color: red;
  }
}